<!DOCTYPE html>
<html>
  <head>
    <title>ContactApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="container" style="padding-top:20px;">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </div>
  </body>
    <div class="footer" style=" position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: black;
      text-align: center;">&copy; 2022 Developed by <i class="fa fa-heart" style="color:red"></i>&nbsp;Tarinee Prasad
    </div>
</html>
